window {
    background-image: url("/home/revise/.config/sway/revise.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#clock-label {
    font-size: 4em;
    font-family: monospace;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

#unlock-button,
#message-box, 
#input-label, 
#warning-label,
#error-label {
    font-family: monospace;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

#unlock-button {
    background-color: #268bd2;
    color: #b5d5ff;
}

#input-field {
    border: 1px solid #268bd2;
}

#warning-label {
    color: #e5a440
}

#error-label {
    color: #dc322f
}
